@import '//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700';
@import '//fonts.googleapis.com/icon?family=Material+Icons';
@import 'materialize';

html, body {
    height: 100%;
}

body {
    min-width: 320px;
}

#main {
  margin-top: 20px;

  .generate-button {
    width: 100%;
    @extend .btn-large;
  }
}
