<section class="container" id="main">
  <div class="row">
    <div class="col s12 m6">
      <button class="waves-effect waves-light generate-button" type="submit" name="action">
        <i class="material-icons">call_received</i>
        Lower numbers
      </button>
    </div>
    <div class="col s12 m6">
      <button class="waves-effect waves-light generate-button" type="submit" name="action">
        Higher numbers
        <i class="material-icons">call_made</i>

      </button>
    </div>
  </div>
</section>
